@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-link text-dark py-0 px-2" asp-area="" asp-controller="CasaDeShow" asp-action="Index">Casas de Show</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link text-dark py-0 px-2" asp-area="" asp-controller="Evento" asp-action="Index">Eventos</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link text-dark py-0 px-2" asp-area="" asp-controller="Categoria" asp-action="Index">Categorias</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Histórico">Histórico</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Gerenciar Conta</a>
        </li>
        <li class="nav-item content-align-center">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link shadow-none">Sair</button>
            </form>
        </li>
    </ul>    
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}
</ul>
