@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav flex-grow-1">
        @if (User.FindFirst("Admin").Value == "True"){
            <li class="nav-item pr-3">
                <a class="nav-link" asp-area="" asp-controller="CasaDeShow" asp-action="Index" title="Casas de Show"><i class="fas fa-2x fa-theater-masks"></i></a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" asp-area="" asp-controller="Evento" asp-action="Index" title="Eventos"><i class="fas fa-2x fa-calendar-alt"></i></a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" asp-area="" asp-controller="Categoria" asp-action="Index" title="Gênero"><i class="fas fa-2x fa-music"></i></a>
            </li>
        }
        <li class="nav-item pr-3">
            <a class="nav-link" asp-area="" asp-controller="Vendas" asp-action="Index" title="Histórico"><i class="fas fa-2x fa-clipboard-list"></i></a>
        </li>
        <li class="nav-item content-align-center">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link shadow-none" title="Sair"><i class="fas fa-2x fa-sign-out-alt"></i></button>
            </form>
        </li>
    </ul>  
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}
</ul>
