@model ProjetoTeste.Models.CasaDeShow

@{
    ViewData["Title"] = "Create";
}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center text-white">
      <div class="mx-auto col-6">
        <h4 class="text-center">Casa De Show</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" required />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" required />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Salvar" class="btn btn-light p-3" />
            </div>
        </form>
        <div class="hover-white">
            <a asp-action="Index"><i class="fas fa-chevron-circle-left"></i> Voltar</a>
        </div>
      </div>
    </div>
</header>

