@model ProjetoTeste.DTO.EventoDTO

@{
    ViewData["Title"] = "Edit";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center text-white">
      <div class="mx-auto col-6">
        <h4 class="text-center">Editar</h4>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidade" class="control-label"></label>
                <input asp-for="Capacidade" class="form-control" />
                <span asp-validation-for="Capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorIngresso" class="control-label"></label>
                <input asp-for="ValorIngresso" class="form-control" />
                <span asp-validation-for="ValorIngresso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasaShowId" class="control-label"></label>
                <select asp-for="CasaShowId" asp-items='@(new SelectList(@ViewBag.CasaShow, "Id", "Nome"))' class="form-control" required></select>
                <span asp-validation-for="CasaShowId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" asp-items='@(new SelectList(@ViewBag.Categorias, "Id", "Nome"))' class="form-control" required></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Salvar" class="btn btn-light p-3" />
            </div>
        </form>
        <div class="hover-white">
            <a asp-action="Index"><i class="fas fa-chevron-circle-left"></i> Voltar</a>
        </div>
      </div>
    </div>
</header>
